h1 a {
    color: #57cff7;
    font-family: 'Lato'
}

.page-header {
    background-color: #57cff7;
    margin-top: 0;
    padding: 19px 19px 19px 39px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 35pt;
}
