{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <div class="page-header">
        <title>Course & Teacher & Student</title>
        </div>

    </head>
    <body>
        <div>
            <h1><a href="">Course & Teacher & Student</a></h1>
        </div>
    </body>
</html>